<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>

  <h1><%= user%></h1>

  <a href="/logout">Logout</a>

  <form action="/reset" method="post">
    <h1>Reset password</h1>
    <input type="password" placeholder="oldpassword" name="oldpassword">
    <input type="password" placeholder="newpassword" name="newpassword">
    <button>Reset</button>
  </form>

  
</body>
</html>